.table-grid {
	display: grid;
	grid-template-columns: repeat(var(--col-template));
	border-top: 1px solid var(--border);
	border-right: 1px solid var(--border);


	&>span {
		padding: .8em .5em;
		border-left: 1px solid var(--border);
		border-bottom: 1px solid var(--border);
		display: flex;
		align-items: center;
		gap: .2em;
	}


	.header {
		background-color: var(--light-bg);
	}

	button {
		border: 0;
		background-color: transparent;
		color: var(--text);
		text-decoration: underline;
		text-underline-offset: 5px;
		text-decoration-thickness: 2px;
	}

	.avatar {
		width: 30px;
		height: auto;
		border-radius: 50%;
		border: 1px solid var(--border);
		margin-right: .5em;
	}
}